$tgico-check: "\e900";
$tgico-checks: "\e901";
$tgico-activesessions: "\e902";
$tgico-add: "\e903";
$tgico-add_chat: "\e904";
$tgico-add_reaction: "\e905";
$tgico-addboost: "\e906";
$tgico-addmember_filled: "\e907";
$tgico-adduser: "\e908";
$tgico-admin: "\e909";
$tgico-ads: "\e90a";
$tgico-ai_letters: "\e90b";
$tgico-ai_star1: "\e90c";
$tgico-ai_star2: "\e90d";
$tgico-ai_style_tone: "\e90e";
$tgico-align_center: "\e90f";
$tgico-align_left: "\e910";
$tgico-align_right: "\e911";
$tgico-animals: "\e912";
$tgico-animations: "\e913";
$tgico-app_expand: "\e914";
$tgico-app_shrink: "\e915";
$tgico-archive: "\e916";
$tgico-archive_filled: "\e917";
$tgico-arrow_down: "\e918";
$tgico-arrow_next: "\e919";
$tgico-arrow_prev: "\e91a";
$tgico-arrow_up_circle_fill: "\e91b";
$tgico-arrowcircle: "\e91c";
$tgico-arrowhead: "\e91d";
$tgico-attach: "\e91e";
$tgico-attach_edit: "\e91f";
$tgico-audio_repeat: "\e920";
$tgico-audio_repeat_single: "\e921";
$tgico-author_hidden: "\e922";
$tgico-auto_delete_circle_1: "\e923";
$tgico-auto_delete_circle_2: "\e924";
$tgico-auto_delete_circle_3: "\e925";
$tgico-auto_delete_circle_4: "\e926";
$tgico-auto_delete_circle_5: "\e927";
$tgico-auto_delete_circle_6: "\e928";
$tgico-auto_delete_circle_7: "\e929";
$tgico-auto_delete_circle_8: "\e92a";
$tgico-auto_delete_circle_clock: "\e92b";
$tgico-auto_delete_circle_days: "\e92c";
$tgico-auto_delete_circle_empty: "\e92d";
$tgico-auto_delete_circle_hours: "\e92e";
$tgico-auto_delete_circle_months: "\e92f";
$tgico-auto_delete_circle_off: "\e930";
$tgico-auto_delete_circle_weeks: "\e931";
$tgico-auto_delete_circle_years: "\e932";
$tgico-avatarnext: "\e933";
$tgico-avatarprevious: "\e934";
$tgico-aversion: "\e935";
$tgico-back: "\e936";
$tgico-backward_5: "\e937";
$tgico-binfilled: "\e938";
$tgico-bold: "\e939";
$tgico-bomb: "\e93a";
$tgico-boost: "\e93b";
$tgico-boostcircle: "\e93c";
$tgico-boosts: "\e93d";
$tgico-bot_filled: "\e93e";
$tgico-botcom: "\e93f";
$tgico-bots: "\e940";
$tgico-brightness: "\e941";
$tgico-brush: "\e942";
$tgico-bubblereply: "\e943";
$tgico-bug: "\e944";
$tgico-calendar: "\e945";
$tgico-calendarfilter: "\e946";
$tgico-camera: "\e947";
$tgico-cameraadd: "\e948";
$tgico-captiondown: "\e949";
$tgico-captionup: "\e94a";
$tgico-car: "\e94b";
$tgico-card: "\e94c";
$tgico-card_outline: "\e94d";
$tgico-cash_circle: "\e94e";
$tgico-channel: "\e94f";
$tgico-channel_filled: "\e950";
$tgico-channelviews: "\e951";
$tgico-chatspinned: "\e952";
$tgico-chatsplaceholder: "\e953";
$tgico-check1: "\e954";
$tgico-checkbox: "\e955";
$tgico-checkboxblock: "\e956";
$tgico-checkboxempty: "\e957";
$tgico-checkboxon: "\e958";
$tgico-checklist_add: "\e959";
$tgico-checklist_done: "\e95a";
$tgico-checklist_undone: "\e95b";
$tgico-checkretract: "\e95c";
$tgico-checkround: "\e95d";
$tgico-checkround_filled: "\e95e";
$tgico-clipboard: "\e95f";
$tgico-clock: "\e960";
$tgico-close: "\e961";
$tgico-clouddownload: "\e962";
$tgico-collapse: "\e963";
$tgico-colorize: "\e964";
$tgico-comments: "\e965";
$tgico-commentssticker: "\e966";
$tgico-contrast: "\e967";
$tgico-copy: "\e968";
$tgico-crop: "\e969";
$tgico-cross: "\e96a";
$tgico-crossgif: "\e96b";
$tgico-crossround: "\e96c";
$tgico-crossround_filled: "\e96d";
$tgico-crossstar: "\e96e";
$tgico-crown: "\e96f";
$tgico-crown_outline: "\e970";
$tgico-crownalt: "\e971";
$tgico-crownoff: "\e972";
$tgico-crownoff_outline: "\e973";
$tgico-darkmode: "\e974";
$tgico-darkmode_filled: "\e975";
$tgico-data: "\e976";
$tgico-delete: "\e977";
$tgico-delete_filled: "\e978";
$tgico-deletedaccount: "\e979";
$tgico-deleteleft: "\e97a";
$tgico-deleteuser: "\e97b";
$tgico-devices: "\e97c";
$tgico-document: "\e97d";
$tgico-dollar_circle: "\e97e";
$tgico-dollar_circle_x: "\e97f";
$tgico-down: "\e980";
$tgico-down_crossed: "\e981";
$tgico-down_up: "\e982";
$tgico-download: "\e983";
$tgico-dragfiles: "\e984";
$tgico-dragmedia: "\e985";
$tgico-eats: "\e986";
$tgico-edit: "\e987";
$tgico-edit_stars: "\e988";
$tgico-edit_stars_add: "\e989";
$tgico-email: "\e98a";
$tgico-endcall_filled: "\e98b";
$tgico-enhance: "\e98c";
$tgico-enter: "\e98d";
$tgico-equalizer: "\e98e";
$tgico-expand: "\e98f";
$tgico-eye: "\e990";
$tgico-eye1: "\e991";
$tgico-eye2: "\e992";
$tgico-eyecross_outline: "\e993";
$tgico-faceid: "\e994";
$tgico-factcheck: "\e995";
$tgico-fade: "\e996";
$tgico-fast_forward: "\e997";
$tgico-fast_rewind: "\e998";
$tgico-favourites: "\e999";
$tgico-filter: "\e99a";
$tgico-fire: "\e99b";
$tgico-flag: "\e99c";
$tgico-flip: "\e99d";
$tgico-flip_image_horizontal: "\e99e";
$tgico-folder: "\e99f";
$tgico-fontframe: "\e9a0";
$tgico-fontframe_bg: "\e9a1";
$tgico-fontframe_outline: "\e9a2";
$tgico-fontsize: "\e9a3";
$tgico-forward: "\e9a4";
$tgico-forward_25: "\e9a5";
$tgico-forward_filled: "\e9a6";
$tgico-free_transform: "\e9a7";
$tgico-fullscreen: "\e9a8";
$tgico-gc_microphone: "\e9a9";
$tgico-gc_microphoneoff: "\e9aa";
$tgico-gem: "\e9ab";
$tgico-gem_exchange: "\e9ac";
$tgico-gem_transfer: "\e9ad";
$tgico-gem_transfer_outline: "\e9ae";
$tgico-geometric_digit_0: "\e9af";
$tgico-geometric_digit_1: "\e9b0";
$tgico-geometric_digit_2: "\e9b1";
$tgico-geometric_digit_3: "\e9b2";
$tgico-geometric_digit_4: "\e9b3";
$tgico-geometric_digit_5: "\e9b4";
$tgico-geometric_digit_6: "\e9b5";
$tgico-geometric_digit_7: "\e9b6";
$tgico-geometric_digit_8: "\e9b7";
$tgico-geometric_digit_9: "\e9b8";
$tgico-geometric_dot: "\e9b9";
$tgico-geometric_letter_x: "\e9ba";
$tgico-gifs: "\e9bb";
$tgico-gift: "\e9bc";
$tgico-gift_premium: "\e9bd";
$tgico-grain: "\e9be";
$tgico-group: "\e9bf";
$tgico-group_filled: "\e9c0";
$tgico-group_star: "\e9c1";
$tgico-groupmedia: "\e9c2";
$tgico-groupmediaoff: "\e9c3";
$tgico-hand: "\e9c4";
$tgico-help: "\e9c5";
$tgico-hide: "\e9c6";
$tgico-highlights: "\e9c7";
$tgico-hourglass: "\e9c8";
$tgico-image: "\e9c9";
$tgico-image_original: "\e9ca";
$tgico-info: "\e9cb";
$tgico-info2: "\e9cc";
$tgico-italic: "\e9cd";
$tgico-key: "\e9ce";
$tgico-keyboard: "\e9cf";
$tgico-lamp: "\e9d0";
$tgico-language: "\e9d1";
$tgico-largepause: "\e9d2";
$tgico-largeplay: "\e9d3";
$tgico-left: "\e9d4";
$tgico-limit_chat: "\e9d5";
$tgico-limit_chats: "\e9d6";
$tgico-limit_file: "\e9d7";
$tgico-limit_folders: "\e9d8";
$tgico-limit_link: "\e9d9";
$tgico-limit_pin: "\e9da";
$tgico-link: "\e9db";
$tgico-link_paid: "\e9dc";
$tgico-list: "\e9dd";
$tgico-listscreenshare: "\e9de";
$tgico-livelocation: "\e9df";
$tgico-livestream: "\e9e0";
$tgico-location: "\e9e1";
$tgico-lock: "\e9e2";
$tgico-lockoff: "\e9e3";
$tgico-loginlogodesktop: "\e9e4";
$tgico-loginlogomobile: "\e9e5";
$tgico-logo: "\e9e6";
$tgico-logout: "\e9e7";
$tgico-mac_command_key: "\e9e8";
$tgico-mediaspeed_empty: "\e9e9";
$tgico-mediaspoiler: "\e9ea";
$tgico-mediaspoileroff: "\e9eb";
$tgico-mention: "\e9ec";
$tgico-menu: "\e9ed";
$tgico-menu_feature_cover: "\e9ee";
$tgico-menu_feature_unique: "\e9ef";
$tgico-menu_verification: "\e9f0";
$tgico-message: "\e9f1";
$tgico-message_jump: "\e9f2";
$tgico-message_quote: "\e9f3";
$tgico-messageunread: "\e9f4";
$tgico-microphone: "\e9f5";
$tgico-microphone_crossed: "\e9f6";
$tgico-microphone_crossed_filled: "\e9f7";
$tgico-microphone_filled: "\e9f8";
$tgico-minus: "\e9f9";
$tgico-monospace: "\e9fa";
$tgico-more: "\e9fb";
$tgico-movetochats: "\e9fc";
$tgico-movetomenu: "\e9fd";
$tgico-multistories: "\e9fe";
$tgico-music: "\e9ff";
$tgico-mute: "\ea00";
$tgico-muted: "\ea01";
$tgico-mynotes: "\ea02";
$tgico-newchannel: "\ea03";
$tgico-newchannel_filled: "\ea04";
$tgico-newchat_filled: "\ea05";
$tgico-newgroup: "\ea06";
$tgico-newgroup_filled: "\ea07";
$tgico-newprivate: "\ea08";
$tgico-newprivate_filled: "\ea09";
$tgico-newtab: "\ea0a";
$tgico-next: "\ea0b";
$tgico-nochannel: "\ea0c";
$tgico-noncontacts: "\ea0d";
$tgico-nosound: "\ea0e";
$tgico-note: "\ea0f";
$tgico-okay: "\ea10";
$tgico-online: "\ea11";
$tgico-passwordoff: "\ea12";
$tgico-pause: "\ea13";
$tgico-permissions: "\ea14";
$tgico-person: "\ea15";
$tgico-phone: "\ea16";
$tgico-phone_filled: "\ea17";
$tgico-pin: "\ea18";
$tgico-pin2: "\ea19";
$tgico-pinlist: "\ea1a";
$tgico-pinned_filled: "\ea1b";
$tgico-pinnedchat: "\ea1c";
$tgico-pinnedchat_filled: "\ea1d";
$tgico-pip: "\ea1e";
$tgico-play: "\ea1f";
$tgico-playback_05: "\ea20";
$tgico-playback_15: "\ea21";
$tgico-playback_1x: "\ea22";
$tgico-playback_2x: "\ea23";
$tgico-plus: "\ea24";
$tgico-plusround: "\ea25";
$tgico-poll: "\ea26";
$tgico-poll_multiple_answers: "\ea27";
$tgico-premium_addone: "\ea28";
$tgico-premium_avatars: "\ea29";
$tgico-premium_badge: "\ea2a";
$tgico-premium_colors: "\ea2b";
$tgico-premium_double: "\ea2c";
$tgico-premium_emoji: "\ea2d";
$tgico-premium_filesize: "\ea2e";
$tgico-premium_lastseen: "\ea2f";
$tgico-premium_limits: "\ea30";
$tgico-premium_lock: "\ea31";
$tgico-premium_management: "\ea32";
$tgico-premium_noads: "\ea33";
$tgico-premium_privacy: "\ea34";
$tgico-premium_reactions: "\ea35";
$tgico-premium_restrict: "\ea36";
$tgico-premium_speed: "\ea37";
$tgico-premium_status: "\ea38";
$tgico-premium_stickers: "\ea39";
$tgico-premium_tags: "\ea3a";
$tgico-premium_transcription: "\ea3b";
$tgico-premium_translate: "\ea3c";
$tgico-premium_unlock: "\ea3d";
$tgico-premium_wallpaper: "\ea3e";
$tgico-previous: "\ea3f";
$tgico-privacypolicy: "\ea40";
$tgico-promote: "\ea41";
$tgico-qr: "\ea42";
$tgico-quote: "\ea43";
$tgico-quote_outline: "\ea44";
$tgico-radiooff: "\ea45";
$tgico-radioon: "\ea46";
$tgico-reactions: "\ea47";
$tgico-reactions_filled: "\ea48";
$tgico-readchats: "\ea49";
$tgico-recent: "\ea4a";
$tgico-recordround: "\ea4b";
$tgico-redo: "\ea4c";
$tgico-reload_star: "\ea4d";
$tgico-replace: "\ea4e";
$tgico-reply: "\ea4f";
$tgico-reply_filled: "\ea50";
$tgico-restrict: "\ea51";
$tgico-revenue: "\ea52";
$tgico-rightpanel: "\ea53";
$tgico-rotate: "\ea54";
$tgico-rotate_left: "\ea55";
$tgico-rotate_right: "\ea56";
$tgico-round_chats_filled: "\ea57";
$tgico-saturation: "\ea58";
$tgico-saved: "\ea59";
$tgico-savedmessages: "\ea5a";
$tgico-schedule: "\ea5b";
$tgico-scheduled: "\ea5c";
$tgico-screen_crossed: "\ea5d";
$tgico-search: "\ea5e";
$tgico-search_check: "\ea5f";
$tgico-select: "\ea60";
$tgico-send: "\ea61";
$tgico-send2: "\ea62";
$tgico-sending: "\ea63";
$tgico-sendingerror: "\ea64";
$tgico-settings: "\ea65";
$tgico-settings_clipped_corner: "\ea66";
$tgico-settings_filled: "\ea67";
$tgico-shadows: "\ea68";
$tgico-sharescreen_filled: "\ea69";
$tgico-sharingoff: "\ea6a";
$tgico-sharingoff_filled: "\ea6b";
$tgico-sharingon: "\ea6c";
$tgico-sharpen: "\ea6d";
$tgico-shipping: "\ea6e";
$tgico-shuffle: "\ea6f";
$tgico-smallscreen: "\ea70";
$tgico-smile: "\ea71";
$tgico-sort_date: "\ea72";
$tgico-sort_num: "\ea73";
$tgico-sort_price: "\ea74";
$tgico-speaker: "\ea75";
$tgico-speakerfilled: "\ea76";
$tgico-speakeroff: "\ea77";
$tgico-speakerofffilled: "\ea78";
$tgico-spoiler: "\ea79";
$tgico-sport: "\ea7a";
$tgico-star: "\ea7b";
$tgico-star_filled: "\ea7c";
$tgico-statistics: "\ea7d";
$tgico-stickers: "\ea7e";
$tgico-stickers_face: "\ea7f";
$tgico-stop: "\ea80";
$tgico-stories: "\ea81";
$tgico-story: "\ea82";
$tgico-storyreply: "\ea83";
$tgico-storyrepost: "\ea84";
$tgico-strikethrough: "\ea85";
$tgico-suggested: "\ea86";
$tgico-tag: "\ea87";
$tgico-tag_add: "\ea88";
$tgico-tag_alt: "\ea89";
$tgico-tag_alt_crossed: "\ea8a";
$tgico-tag_alt_outline: "\ea8b";
$tgico-tag_crossed: "\ea8c";
$tgico-tag_filter: "\ea8d";
$tgico-tag_name: "\ea8e";
$tgico-text: "\ea8f";
$tgico-textedit: "\ea90";
$tgico-time_lock: "\ea91";
$tgico-timer: "\ea92";
$tgico-tip: "\ea93";
$tgico-ton: "\ea94";
$tgico-tools: "\ea95";
$tgico-topics: "\ea96";
$tgico-trade: "\ea97";
$tgico-transcribe: "\ea98";
$tgico-unarchive: "\ea99";
$tgico-unclaimed: "\ea9a";
$tgico-underline: "\ea9b";
$tgico-undo: "\ea9c";
$tgico-unmute: "\ea9d";
$tgico-unpack: "\ea9e";
$tgico-unpin: "\ea9f";
$tgico-unread: "\eaa0";
$tgico-up: "\eaa1";
$tgico-up_down: "\eaa2";
$tgico-user: "\eaa3";
$tgico-username: "\eaa4";
$tgico-videocamera: "\eaa5";
$tgico-videocamera_crossed_filled: "\eaa6";
$tgico-videocamera_filled: "\eaa7";
$tgico-videochat: "\eaa8";
$tgico-vignette: "\eaa9";
$tgico-volume_down: "\eaaa";
$tgico-volume_mute: "\eaab";
$tgico-volume_off: "\eaac";
$tgico-volume_up: "\eaad";
$tgico-warmth: "\eaae";
$tgico-warning: "\eaaf";
$tgico-webview: "\eab0";
$tgico-win_key: "\eab1";
$tgico-zoomin: "\eab2";
$tgico-zoomout: "\eab3";
$tgico-account_filled: "\eab4";
$tgico-add_chat_filled: "\eab5";
$tgico-admin_filled: "\eab6";
$tgico-adult_crossed: "\eab7";
$tgico-adult: "\eab8";
$tgico-affiliate_filled: "\eab9";
$tgico-ai_filled: "\eaba";
$tgico-align_bottom: "\eabb";
$tgico-align_horizontal_center: "\eabc";
$tgico-align_left_edge: "\eabd";
$tgico-align_right_edge: "\eabe";
$tgico-align_top: "\eabf";
$tgico-align_vertical_center: "\eac0";
$tgico-android_filled: "\eac1";
$tgico-appearance_filled: "\eac2";
$tgico-apple_filled: "\eac3";
$tgico-apps_magic: "\eac4";
$tgico-apps: "\eac5";
$tgico-archive_box: "\eac6";
$tgico-arrow_down_square_add: "\eac7";
$tgico-arrow_left_circle: "\eac8";
$tgico-arrow_left_square_add: "\eac9";
$tgico-arrow_left_square: "\eaca";
$tgico-arrow_right_circle: "\eacb";
$tgico-arrow_right_square_add: "\eacc";
$tgico-arrow_right_square: "\eacd";
$tgico-arrow_up_circle_filled: "\eace";
$tgico-arrow_up_circle: "\eacf";
$tgico-arrow_up_square_add: "\ead0";
$tgico-arrow_up: "\ead1";
$tgico-aspect_ratio_16_9: "\ead2";
$tgico-aspect_ratio_3_2: "\ead3";
$tgico-aspect_ratio_4_3: "\ead4";
$tgico-aspect_ratio_5_4: "\ead5";
$tgico-aspect_ratio_7_6: "\ead6";
$tgico-aspect_ratio_square: "\ead7";
$tgico-auto_delete_circle_1_day: "\ead8";
$tgico-auto_delete_circle_1_month: "\ead9";
$tgico-auto_delete_circle_1_week: "\eada";
$tgico-auto_delete_filled: "\eadb";
$tgico-bath: "\eadc";
$tgico-bell_filled: "\eadd";
$tgico-bid_carryover: "\eade";
$tgico-bin_filled: "\eadf";
$tgico-birthday_filled: "\eae0";
$tgico-blockquote: "\eae1";
$tgico-bomb_filled: "\eae2";
$tgico-boost_filled: "\eae3";
$tgico-boostcircle_filled: "\eae4";
$tgico-boosts_filled: "\eae5";
$tgico-bot_add: "\eae6";
$tgico-bounce: "\eae7";
$tgico-bubble_filled: "\eae8";
$tgico-burger: "\eae9";
$tgico-business_filled: "\eaea";
$tgico-cache_clear: "\eaeb";
$tgico-cake: "\eaec";
$tgico-card_filled: "\eaed";
$tgico-carousel: "\eaee";
$tgico-channelviews_filled: "\eaef";
$tgico-chat_background: "\eaf0";
$tgico-chatsplaceholder_filled: "\eaf1";
$tgico-circle_blocked: "\eaf2";
$tgico-clear: "\eaf3";
$tgico-clock_filled: "\eaf4";
$tgico-cloud: "\eaf5";
$tgico-commentssticker_filled: "\eaf6";
$tgico-cookies_clear: "\eaf7";
$tgico-copy_alt: "\eaf8";
$tgico-copyright: "\eaf9";
$tgico-crown_filled: "\eafa";
$tgico-crownalt_filled: "\eafb";
$tgico-crownoff_filled: "\eafc";
$tgico-data_filled: "\eafd";
$tgico-data_transfer_filled: "\eafe";
$tgico-deletedaccount_filled: "\eaff";
$tgico-devices_filled: "\eb00";
$tgico-dislike: "\eb01";
$tgico-email_filled: "\eb02";
$tgico-emoji_angry: "\eb03";
$tgico-emoji_filled: "\eb04";
$tgico-emoji_happy: "\eb05";
$tgico-emoji_neutral: "\eb06";
$tgico-emoji_sad: "\eb07";
$tgico-emoji_surprised: "\eb08";
$tgico-emoji_thinking: "\eb09";
$tgico-emoji_tongue: "\eb0a";
$tgico-exclamation_circle: "\eb0b";
$tgico-eye1_filled: "\eb0c";
$tgico-eye2_filled: "\eb0d";
$tgico-eyecross: "\eb0e";
$tgico-faceid_filled: "\eb0f";
$tgico-faq_filled: "\eb10";
$tgico-fast_forward_filled: "\eb11";
$tgico-fast_rewind_filled: "\eb12";
$tgico-fill: "\eb13";
$tgico-filter_circle: "\eb14";
$tgico-folder_add: "\eb15";
$tgico-folder_crossed: "\eb16";
$tgico-folder_download: "\eb17";
$tgico-folder_upload: "\eb18";
$tgico-fontframe_bg_filled: "\eb19";
$tgico-fontframe_filled: "\eb1a";
$tgico-formula: "\eb1b";
$tgico-gem_transfer_filled: "\eb1c";
$tgico-general_filled: "\eb1d";
$tgico-gift_filled: "\eb1e";
$tgico-gift_premium_filled: "\eb1f";
$tgico-gram_filled: "\eb20";
$tgico-gram_refund: "\eb21";
$tgico-gram: "\eb22";
$tgico-group_circle_filled: "\eb23";
$tgico-heading_1: "\eb24";
$tgico-heading_2: "\eb25";
$tgico-heading_3: "\eb26";
$tgico-heading_4: "\eb27";
$tgico-heading_5: "\eb28";
$tgico-heading_6: "\eb29";
$tgico-heading: "\eb2a";
$tgico-history_clear: "\eb2b";
$tgico-image_add: "\eb2c";
$tgico-image_crossed: "\eb2d";
$tgico-info_filled: "\eb2e";
$tgico-info2_filled: "\eb2f";
$tgico-key_filled: "\eb30";
$tgico-keyboard_filled: "\eb31";
$tgico-lamp_filled: "\eb32";
$tgico-largepause_filled: "\eb33";
$tgico-largeplay_filled: "\eb34";
$tgico-like: "\eb35";
$tgico-limit_chat_filled: "\eb36";
$tgico-limit_chats_filled: "\eb37";
$tgico-limit_file_filled: "\eb38";
$tgico-limit_folders_filled: "\eb39";
$tgico-limit_pin_filled: "\eb3a";
$tgico-link_filled: "\eb3b";
$tgico-linux_filled: "\eb3c";
$tgico-list_bulleted: "\eb3d";
$tgico-list_checked: "\eb3e";
$tgico-list_numbered: "\eb3f";
$tgico-listscreenshare_filled: "\eb40";
$tgico-live_photo_crossed: "\eb41";
$tgico-live_photo_play: "\eb42";
$tgico-live_photo: "\eb43";
$tgico-location_filled: "\eb44";
$tgico-lock_filled: "\eb45";
$tgico-loop: "\eb46";
$tgico-magic_plus_circle: "\eb47";
$tgico-media_font: "\eb48";
$tgico-mention_filled: "\eb49";
$tgico-merge_horizontal: "\eb4a";
$tgico-merge_vertical: "\eb4b";
$tgico-message_add: "\eb4c";
$tgico-message_away: "\eb4d";
$tgico-message_crossed: "\eb4e";
$tgico-message_filled: "\eb4f";
$tgico-message_minus: "\eb50";
$tgico-message_reaction: "\eb51";
$tgico-message_text: "\eb52";
$tgico-more_circle: "\eb53";
$tgico-music_filled: "\eb54";
$tgico-nosound_filled: "\eb55";
$tgico-note_filled: "\eb56";
$tgico-okay_filled: "\eb57";
$tgico-parachute: "\eb58";
$tgico-party: "\eb59";
$tgico-pause_circle: "\eb5a";
$tgico-pause_filled: "\eb5b";
$tgico-person_crossed_filled: "\eb5c";
$tgico-person_filled: "\eb5d";
$tgico-photo_filled: "\eb5e";
$tgico-pie_chart_filled: "\eb5f";
$tgico-pin2_filled: "\eb60";
$tgico-pip_enter: "\eb61";
$tgico-pip_exit: "\eb62";
$tgico-play_filled: "\eb63";
$tgico-plus_circle_filled: "\eb64";
$tgico-policy_filled: "\eb65";
$tgico-poll_multiple_answers_filled: "\eb66";
$tgico-premium_addone_filled: "\eb67";
$tgico-premium_avatars_filled: "\eb68";
$tgico-premium_colors_filled: "\eb69";
$tgico-premium_double_filled: "\eb6a";
$tgico-premium_emoji_filled: "\eb6b";
$tgico-premium_filesize_filled: "\eb6c";
$tgico-premium_lastseen_filled: "\eb6d";
$tgico-premium_limits_filled: "\eb6e";
$tgico-premium_lock_filled: "\eb6f";
$tgico-premium_management_filled: "\eb70";
$tgico-premium_noads_filled: "\eb71";
$tgico-premium_privacy_filled: "\eb72";
$tgico-premium_reactions_filled: "\eb73";
$tgico-premium_restrict_filled: "\eb74";
$tgico-premium_speed_filled: "\eb75";
$tgico-premium_status_filled: "\eb76";
$tgico-premium_stickers_filled: "\eb77";
$tgico-premium_tags_filled: "\eb78";
$tgico-premium_transcription_filled: "\eb79";
$tgico-premium_unlock_filled: "\eb7a";
$tgico-premium_wallpaper_filled: "\eb7b";
$tgico-premium: "\eb7c";
$tgico-prompt: "\eb7d";
$tgico-pull_quote: "\eb7e";
$tgico-quote_crossed: "\eb7f";
$tgico-quote_filled: "\eb80";
$tgico-recent_actions_filled: "\eb81";
$tgico-recordround_filled: "\eb82";
$tgico-replace_circles: "\eb83";
$tgico-replace_squares: "\eb84";
$tgico-saved_filled: "\eb85";
$tgico-send_filled: "\eb86";
$tgico-sendingerror_filled: "\eb87";
$tgico-shield_add: "\eb88";
$tgico-shield_crossed: "\eb89";
$tgico-shield_star: "\eb8a";
$tgico-shield: "\eb8b";
$tgico-slash: "\eb8c";
$tgico-sleep: "\eb8d";
$tgico-speaker_filled: "\eb8e";
$tgico-speakeroff_filled: "\eb8f";
$tgico-sputnik_filled: "\eb90";
$tgico-square_crossed: "\eb91";
$tgico-star_circle_filled: "\eb92";
$tgico-statistics_chart: "\eb93";
$tgico-statistics_filled: "\eb94";
$tgico-statistics_growth: "\eb95";
$tgico-sticker_add: "\eb96";
$tgico-sticker_filled: "\eb97";
$tgico-stories_add: "\eb98";
$tgico-stories_archive: "\eb99";
$tgico-stories_caption: "\eb9a";
$tgico-stories_down: "\eb9b";
$tgico-stories_filled: "\eb9c";
$tgico-stories_like: "\eb9d";
$tgico-stories_unarchive: "\eb9e";
$tgico-stories_unlike: "\eb9f";
$tgico-table_add: "\eba0";
$tgico-table_borderless: "\eba1";
$tgico-table_column_crossed: "\eba2";
$tgico-table_crossed: "\eba3";
$tgico-table_filled: "\eba4";
$tgico-table_row_crossed: "\eba5";
$tgico-table_striped: "\eba6";
$tgico-table: "\eba7";
$tgico-tag_alt_crossed_filled: "\eba8";
$tgico-tag_alt_filled: "\eba9";
$tgico-text_add: "\ebaa";
$tgico-text_block: "\ebab";
$tgico-text_crossed: "\ebac";
$tgico-time_filled: "\ebad";
$tgico-time_lock_filled: "\ebae";
$tgico-timer_filled: "\ebaf";
$tgico-toggle: "\ebb0";
$tgico-topics_filled: "\ebb1";
$tgico-two_factor_auth_filled: "\ebb2";
$tgico-ubuntu_filled: "\ebb3";
$tgico-unclaimed_filled: "\ebb4";
$tgico-unpack_filled: "\ebb5";
$tgico-upload: "\ebb6";
$tgico-user_allow_speak: "\ebb7";
$tgico-user_block: "\ebb8";
$tgico-user_check: "\ebb9";
$tgico-user_circle: "\ebba";
$tgico-user_nearby_crossed: "\ebbb";
$tgico-user_nearby: "\ebbc";
$tgico-user_premium: "\ebbd";
$tgico-user_search: "\ebbe";
$tgico-user_target: "\ebbf";
$tgico-vacation: "\ebc0";
$tgico-video_message_crossed: "\ebc1";
$tgico-video_message: "\ebc2";
$tgico-videocamera_crossed: "\ebc3";
$tgico-volume_down_filled: "\ebc4";
$tgico-volume_mute_filled: "\ebc5";
$tgico-volume_off_filled: "\ebc6";
$tgico-volume_up_filled: "\ebc7";
$tgico-wallet: "\ebc8";
$tgico-warning_filled: "\ebc9";
$tgico-wave: "\ebca";
$tgico-web_a_filled: "\ebcb";
$tgico-web_filled: "\ebcc";
$tgico-web_k_filled: "\ebcd";
$tgico-web_tab: "\ebce";
$tgico-win_key_filled: "\ebcf";
$tgico-work: "\ebd0";

